<header>
    <nav>
        <div class="navBar">
            <a href="/">Ver menú</a>
            <a href="/add">Agregar menú</a>
            <a href="/delete">Eliminar menú</a>
        </div>
    </nav>

</header>
