{{> head }}
<body class="formulario">
{{> header }}

<form action="delete" method="post">
    <div class="formBody">
        <label class="form-label h6 fw-bold" for="nombre">Plato eliminar</label>
        <input class="form-control-sm rounded" type="text" name="nombre">
    </div>
    <button class="btn btn-danger" type="submit">Eliminar</button>
</form>

{{> footer }}