{{> head }}
<body class="formulario">
{{> header }}

<form action="add" method="post">
    <div class="formBody">
        <label for="nombre">Nombre plato</label>
        <input type="text" name="nombre">
    </div>
    <div class="formBody">
        <label for="precio">Precio</label>
        <input type="text" name="precio">
    </div>
    <button type="submit">Agregar</button>
</form>

{{> footer }}