{{> head }}
<body class="formulario">
{{> header }}

<form action="modif" method="post">
    <select class="form-select-sm rounded" name="nombre" class="selectplato">
        <option value="plato">Plato</option>
        {{#each menu}}
        <option value="{{ @index }}">{{ nombre }}</option>
        {{/each}}
    </select>
    <div class="formBody">
        <label class="form-label h6 fw-bold" for="precio">Precio</label>
        <input class="form-control-sm rounded" type="text" name="precio">
    </div>
    <button class="btn btn-success" type="submit">Modificar</button>
</form>

{{> footer }}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>