{{> head }}

{{#if exito}}
  <div class="mensaje-exito">{{exito}}</div>
{{/if}}

<body class="pagMenu">
    {{> header }}

    <div class="headTitle">
        <h1>Menú</h1>
    </div>
    <div class="menuContainer">

        {{#each menu}}
        <div class="listaMenu">
            <h4>{{ nombre }}</h4>
            <p class="puntos">...................</p>
            <h5>{{ precio }}
            </h5>
        </div>
        {{/each}}

    </div>
<style>
  .puntos {
    display: inline-block;
  }
</style>

<script>
  const nombres = document.querySelectorAll('.listaMenu h4');
  nombres.forEach(nombre => {
    const puntos = nombre.nextElementSibling;
    const puntosLength = Math.max(0, 30 - nombre.textContent.length); // 30 es la longitud máxima de los puntos
    puntos.textContent = ".".repeat(puntosLength);
  });
</script>

    {{> footer }}